body {
  background-color: #2b2b2b;
}

.campText {
  text-align: center;
  padding: 10px;
  margin: 50px;
  width: 60%;
}

.modalB {
  padding: 40px;
}

.card-deck .card {
  flex: none !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin: 35px;
}

.pay {
  margin-top: 30px;
}

.containerButton {
  padding: 40px;
  text-align: center;
}

.title {
  text-align: center;
  padding: 10px 0px 30px;
}

.ret-food {
  padding: 10px;
  text-align: center;
  color: #e88a33;
}

.container-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-drop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.splash {
  height: 100vh;
  font-size: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #e88a33;
}