.campText {
  text-align: center;
  padding: 10px;
  margin: 50px;
  width: 60%;
}

.modalB {
  padding: 40px;
}

.card-deck .card {
  flex: none !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin: 35px;
}

.pay {
  margin-top: 30px;
}

.containerButton {
  padding: 40px;
  text-align: center;
}

.title {
  text-align: center;
  padding: 10px 0px 30px;
}